python-dotenv
langchain
langchain_community
google-genai
langchain-text-splitters
langsmith
ipykernel
sentence-transformers
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
hf_xet
langchain-groq
faiss-cpu
tiktoken
chromadb
langchain-huggingface
langchain-experimental
rank_bm25
wikipedia
langgraph
langchain-astradb
langchain-pinecone
langchain-classic
pymupdf
unstructured
loguru
flask
streamlit
pillow
pyyaml